doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title || "AtriumScreen"

        link(href="/public/as/css/client.min.css" rel="stylesheet")
    body

        iframe.as-iframe(src="/screen-frame/" + screen)
        .as-blockade

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script.
            var refreser = window.refresher = { };
            refresher.going = false;
            refresher.notify = function(msg) {
                var refresh = function() {
                        $('.as-iframe').attr('src', $('.as-iframe').attr('src'));
                        refresher.going = setTimeout(refresh, 5000);
                    }
                if (msg === 'refresh') {
                    refresher.going = setTimeout(refresh, 10000);
                }
                if (msg === 'load') {
                    if (refresher.going) {
                        clearTimeout(refresher.going);
                        refresher.going = null;
                    }
                }
            }


